@using TravelTripProje.Models.Sınıflar@*//sınıflar klasorune olas*@
@model List<Hakkimizda>
 @*model komutu liste tutacak bu listede benım listemediklerimi tutucak*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<h2>Hakkımızda..</h2>
<h3>Dünya Güzellikleri</h3>
<div class="content">
    <div class="wrap">
        <div class="about">

           
                <img src="https://img.paratic.com/dosya/2017/04/doga-harikalari-dunyanin-en-guzel-gezegen-oldugunun-100-kaniti-687x400.jpg" alt="" />

           
            
        </div>
    </div>
</div>


