@using TravelTripProje.Models.Sınıflar
@model List<Muzeler>
@{
    ViewBag.Title = "Muzeler";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h2>Muzeler</h2>

<div class="content">
    <div class="wrap">
        <div class="about">


            <img src="https://media-cdn.t24.com.tr/media/library/2021/05/1621428714469-gettyimages-1193604575-custom-41849-d-240200-da-7-ff-86478-a-110-cb-60-db-3-e-988-b-4-a-s-800-c-85-1.jpg" alt="" />



        </div>
    </div>
</div>
