@using TravelTripProje.Models.Sınıflar
@model List<Restoranlar>
@{
    ViewBag.Title = "Restoranlar";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h2>Restoranlar</h2>

<div class="content">
    <div class="wrap">
        <div class="about">


            <img src="https://cdn.firsatbufirsat.com/files/images/deal-image/image/1200x1200/720/7207259_61e8.jpg?r=2" alt="" />



        </div>
    </div>
</div>

